In [15]:
import os
FOLDER = "swimdata/" 

files = os.listdir(FOLDER)
files.remove(".DS_Store")

In [16]:
first = files[0]
print(first)
name, age, _, _ = first.removesuffix(".txt").split("-")
name, age

Abi-10-100m-Back.txt

('Abi', '10')

In [17]:
import DBcm
db_details = "CoachDB.sqlite3"

In [18]:
SQL_INSERT = """
insert into swimmers (name, age)
values
(?, ?) 
"""

In [19]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_INSERT, (name, age))

In [20]:
SQL = """
select * from swimmers
"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[(62, 'Abi', 10)]

In [21]:
SQL_DELETE = "delete from swimmers"
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_DELETE)
SQL = """
select * from swimmers
"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[]

In [22]:
import os 
import DBcm 

db_details = "CoachDB.sqlite3"
FOLDER = "swimdata/"

files = os.listdir(FOLDER)
files.remove(".DS_Store")

SQL_SELECT  = """ 
select * from swimmers
where name = ? and age = ?
"""

SQL_INSERT = """ 
insert into swimmers
(name, age)
values
(?, ?)
"""

with DBcm.UseDatabase(db_details) as db:
    for file in files:
        name, age, _, _ = file.removesuffix(".txt").split("-")
        db.execute(SQL_SELECT, (name, age))        
        if db.fetchall():
            continue
        db.execute(SQL_INSERT, (name, age))

with DBcm.UseDatabase(db_details) as db:
    db.execute("select * from swimmers")
    results = db.fetchall()

results

[(63, 'Abi', 10),
 (64, 'Ali', 12),
 (65, 'Alison', 14),
 (66, 'Aurora', 13),
 (67, 'Bill', 18),
 (68, 'Blake', 15),
 (69, 'Calvin', 9),
 (70, 'Carl', 15),
 (71, 'Chris', 17),
 (72, 'Darius', 13),
 (73, 'Dave', 17),
 (74, 'Elba', 14),
 (75, 'Emma', 13),
 (76, 'Erika', 15),
 (77, 'Hannah', 13),
 (78, 'Katie', 9),
 (79, 'Lizzie', 14),
 (80, 'Maria', 9),
 (81, 'Mike', 15),
 (82, 'Owen', 15),
 (83, 'Ruth', 13),
 (84, 'Tasmin', 15)]

In [25]:
import os 
import DBcm 

db_details = "CoachDB.sqlite3"
FOLDER = "swimdata/"

files = os.listdir(FOLDER)
files.remove(".DS_Store")

SQL_SELECT  = """ 
select * from events
where distance = ? and stroke = ?
"""

SQL_INSERT = """ 
insert into events
(distance, stroke)
values
(?, ?)
"""

with DBcm.UseDatabase(db_details) as db:
    for file in files:
        _, _, distance, stroke = file.removesuffix(".txt").split("-")
        db.execute(SQL_SELECT, (distance, stroke))        
        if db.fetchall():
            continue
        db.execute(SQL_INSERT, (distance, stroke))

with DBcm.UseDatabase(db_details) as db:
    db.execute("select * from events")
    results = db.fetchall()

results

[(1, '100m', 'Back'),
 (2, '100m', 'Breast'),
 (3, '50m', 'Back'),
 (4, '50m', 'Breast'),
 (5, '50m', 'Free'),
 (6, '100m', 'Free'),
 (7, '200m', 'Back'),
 (8, '100m', 'Fly'),
 (9, '50m', 'Fly'),
 (10, '200m', 'IM'),
 (11, '200m', 'Breast'),
 (12, '200m', 'Free'),
 (13, '400m', 'Free')]

In [27]:
with DBcm.UseDatabase(db_details) as db:
    db.execute("pragma table_info(times)")
    results = db.fetchall()

results

[(0, 'swimmer_id', 'INTEGER', 1, None, 0),
 (1, 'event_id', 'INTEGER', 1, None, 0),
 (2, 'time', 'varchar(16)', 1, None, 0),
 (3, 'ts', 'timestamp', 0, 'current_timestamp', 0)]