In [1]:
%pip install pandas lxml --upgrade

Collecting pandas
  Downloading pandas-2.1.2-cp312-cp312-win_amd64.whl.metadata (18 kB)
Collecting lxml
  Downloading lxml-4.9.3-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Collecting numpy<2,>=1.26.0 (from pandas)
  Downloading numpy-1.26.1-cp312-cp312-win_amd64.whl.metadata (61 kB)
     ---------------------------------------- 0.0/61.2 kB ? eta -:--:--
     ---------------------------------------- 61.2/61.2 kB 3.2 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\girish\appdata\roaming\python\python312\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ---------------------------------------- 0.0/341.8 kB ? eta -:--:--
     -------------------------------------  337.9/341.8 kB 7.0 MB/s eta 0:00:01
     -------------------------------------- 341.8/341.8 kB 5.3 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in d:\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.1.2-cp312-cp312-win_amd64.whl (10.5 MB)
   ---------------------------------------- 0.0/10.5 MB ? eta -:--:--
   -- ------------------------------------- 0.7/10.5 MB 22.8 MB/s eta 0:00:01
   ------- -------------------------------- 1.9/10.5 MB 23.9 MB/s eta 0:00:01
   ---------- ----------------------------- 2.8/10.5 MB 20.1 MB/s eta 0:00:01
   --------------- ------------------------ 4.0/10.5 MB 21.3 MB/s eta 0:00:01
   ------------------- -------------------- 5.0/10.5 MB 21.5 MB/s eta 0:00:01
   ----------------------- ---------------- 6.2/10.5 MB 22.0 MB/s eta 0:00:01
   -------------------------- ------------- 7.0/10.5 MB 21.2 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.5 MB 21.5 MB/s eta 0:00:01
   ---------------------------------- ----- 9.1/10.5 MB 22.5 MB/s eta 0:00:01
   ---------------------------------------  10.3/10.5 MB 21.8 MB/s eta 0:00:01
   ---------------------------------------  10.5/10.5 MB 22.6 MB/s eta 0:00:01
   ---------------------------------------- 10.5/10.5 MB 19.9 MB/s eta 0:00:00
Downloading lxml-4.9.3-cp312-cp312-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ------------- -------------------------- 1.3/3.8 MB 28.0 MB/s eta 0:00:01
   ------------------------- -------------- 2.4/3.8 MB 25.7 MB/s eta 0:00:01
   ---------------------------------------  3.7/3.8 MB 26.3 MB/s eta 0:00:01
   ---------------------------------------  3.8/3.8 MB 24.1 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 18.5 MB/s eta 0:00:00
Downloading numpy-1.26.1-cp312-cp312-win_amd64.whl (15.5 MB)
   ---------------------------------------- 0.0/15.5 MB ? eta -:--:--
   --- ------------------------------------ 1.3/15.5 MB 40.6 MB/s eta 0:00:01
   ------ --------------------------------- 2.4/15.5 MB 25.1 MB/s eta 0:00:01
   --------- ------------------------------ 3.6/15.5 MB 25.2 MB/s eta 0:00:01
   ------------ --------------------------- 4.8/15.5 MB 25.5 MB/s eta 0:00:01
   --------------- ------------------------ 6.1/15.5 MB 26.0 MB/s eta 0:00:01
   ------------------- -------------------- 7.6/15.5 MB 27.0 MB/s eta 0:00:01
   ---------------------- ----------------- 8.6/15.5 MB 26.3 MB/s eta 0:00:01
   ------------------------- -------------- 10.0/15.5 MB 26.7 MB/s eta 0:00:01
   ----------------------------- ---------- 11.3/15.5 MB 26.2 MB/s eta 0:00:01
   ------------------------------- -------- 12.3/15.5 MB 26.2 MB/s eta 0:00:01
   --------------------------------- ------ 13.2/15.5 MB 25.1 MB/s eta 0:00:01
   ------------------------------------- -- 14.4/15.5 MB 25.2 MB/s eta 0:00:01
   ---------------------------------------  15.4/15.5 MB 25.2 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 25.2 MB/s eta 0:00:01
   ---------------------------------------- 15.5/15.5 MB 20.4 MB/s eta 0:00:00
Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
   ---------------------------------------- 0.0/502.5 kB ? eta -:--:--
   --------------------------------------- 502.5/502.5 kB 30.8 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, lxml, pandas
Successfully installed lxml-4.9.3 numpy-1.26.1 pandas-2.1.2 pytz-2023.3.post1 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

URL = "https://en.wikipedia.org/wiki/List_of_world_records_in_swimming"

In [3]:
tables = pd.read_html(URL)

In [4]:
tables[0].head()

,Event,Time,Unnamed: 2,Name,Nationality,Date,Meet,Location,Ref
0,50m freestyle,20.91,ss,César Cielo,Brazil,18 December 2009,Brazilian Championships,"São Paulo, Brazil",[9][10][11][12]
1,100m freestyle,46.86,NaN,David Popovici,Romania,13 August 2022,European Championships,"Rome, Italy",[13][14]
2,200m freestyle,1:42.00,ss,Paul Biedermann,Germany,28 July 2009,World Championships,"Rome, Italy",[15][16][17]
3,400m freestyle,3:40.07,ss,Paul Biedermann,Germany,26 July 2009,World Championships,"Rome, Italy",[18][19][20]
4,800m freestyle,7:32.12,ss,Zhang Lin,China,29 July 2009,World Championships,"Rome, Italy",[21][22]

In [5]:
df = tables[0][["Event","Time"]]

In [6]:
df.head()

            Event     Time
0   50m freestyle    20.91
1  100m freestyle    46.86
2  200m freestyle  1:42.00
3  400m freestyle  3:40.07
4  800m freestyle  7:32.12

In [7]:
df.to_dict()

{'Event': {0: '50m freestyle',
  1: '100m freestyle',
  2: '200m freestyle',
  3: '400m freestyle',
  4: '800m freestyle',
  5: '1500m freestyle',
  6: '50m backstroke',
  7: '50m backstroke',
  8: '100m backstroke',
  9: '200m backstroke',
  10: '50m breaststroke',
  11: '100m breaststroke',
  12: '200m breaststroke',
  13: '50m butterfly',
  14: '100m butterfly',
  15: '200m butterfly',
  16: '200m individual medley',
  17: '400m individual medley',
  18: '4 × 100 m freestyle relay',
  19: '4 × 200 m freestyle relay',
  20: '4 × 100 m medley relay'},
 'Time': {0: '20.91',
  1: '46.86',
  2: '1:42.00',
  3: '3:40.07',
  4: '7:32.12',
  5: '14:31.02',
  6: '23.71',
  7: '23.55',
  8: '51.60',
  9: '1:51.92',
  10: '25.95',
  11: '56.88',
  12: '2:05.48',
  13: '22.27',
  14: '49.45',
  15: '1:50.34',
  16: '1:54.00',
  17: '4:02.50',
  18: '3:08.24',
  19: '6:58.55',
  20: '3:26.78'}}

In [8]:
df.tail()

                        Event     Time
16     200m individual medley  1:54.00
17     400m individual medley  4:02.50
18  4 × 100 m freestyle relay  3:08.24
19  4 × 200 m freestyle relay  6:58.55
20     4 × 100 m medley relay  3:26.78

In [9]:
df[df["Event"].str.contains("relay")]

                        Event     Time
18  4 × 100 m freestyle relay  3:08.24
19  4 × 200 m freestyle relay  6:58.55
20     4 × 100 m medley relay  3:26.78

In [11]:
df = df[~df["Event"].str.contains("relay")]

In [12]:
df.to_dict("records")

[{'Event': '50m freestyle', 'Time': '20.91'},
 {'Event': '100m freestyle', 'Time': '46.86'},
 {'Event': '200m freestyle', 'Time': '1:42.00'},
 {'Event': '400m freestyle', 'Time': '3:40.07'},
 {'Event': '800m freestyle', 'Time': '7:32.12'},
 {'Event': '1500m freestyle', 'Time': '14:31.02'},
 {'Event': '50m backstroke', 'Time': '23.71'},
 {'Event': '50m backstroke', 'Time': '23.55'},
 {'Event': '100m backstroke', 'Time': '51.60'},
 {'Event': '200m backstroke', 'Time': '1:51.92'},
 {'Event': '50m breaststroke', 'Time': '25.95'},
 {'Event': '100m breaststroke', 'Time': '56.88'},
 {'Event': '200m breaststroke', 'Time': '2:05.48'},
 {'Event': '50m butterfly', 'Time': '22.27'},
 {'Event': '100m butterfly', 'Time': '49.45'},
 {'Event': '200m butterfly', 'Time': '1:50.34'},
 {'Event': '200m individual medley', 'Time': '1:54.00'},
 {'Event': '400m individual medley', 'Time': '4:02.50'}]

In [13]:
df = df.set_index("Event")
df.head()

                   Time
Event
50m freestyle     20.91
100m freestyle    46.86
200m freestyle  1:42.00
400m freestyle  3:40.07
800m freestyle  7:32.12

In [14]:
df.to_dict()

{'Time': {'50m freestyle': '20.91',
  '100m freestyle': '46.86',
  '200m freestyle': '1:42.00',
  '400m freestyle': '3:40.07',
  '800m freestyle': '7:32.12',
  '1500m freestyle': '14:31.02',
  '50m backstroke': '23.55',
  '100m backstroke': '51.60',
  '200m backstroke': '1:51.92',
  '50m breaststroke': '25.95',
  '100m breaststroke': '56.88',
  '200m breaststroke': '2:05.48',
  '50m butterfly': '22.27',
  '100m butterfly': '49.45',
  '200m butterfly': '1:50.34',
  '200m individual medley': '1:54.00',
  '400m individual medley': '4:02.50'}}

In [15]:
records = {}
records["LC Men"] = df.to_dict()["Time"]

In [16]:
records

{'LC Men': {'50m freestyle': '20.91',
  '100m freestyle': '46.86',
  '200m freestyle': '1:42.00',
  '400m freestyle': '3:40.07',
  '800m freestyle': '7:32.12',
  '1500m freestyle': '14:31.02',
  '50m backstroke': '23.55',
  '100m backstroke': '51.60',
  '200m backstroke': '1:51.92',
  '50m breaststroke': '25.95',
  '100m breaststroke': '56.88',
  '200m breaststroke': '2:05.48',
  '50m butterfly': '22.27',
  '100m butterfly': '49.45',
  '200m butterfly': '1:50.34',
  '200m individual medley': '1:54.00',
  '400m individual medley': '4:02.50'}}

In [19]:
RECORDS = (0,2,4,5)
COURSES = ("LC Men", "LC Women", "SC Men", "SC Women")

records = {}
for table, course in zip(RECORDS, COURSES):
    df = tables[table][["Event","Time"]]
    df = df[~df["Event"].str.contains("relay")]
    df = df.set_index("Event")
    records[course] = df.to_dict()["Time"]

In [21]:
records

{'LC Men': {'50m freestyle': '20.91',
  '100m freestyle': '46.86',
  '200m freestyle': '1:42.00',
  '400m freestyle': '3:40.07',
  '800m freestyle': '7:32.12',
  '1500m freestyle': '14:31.02',
  '50m backstroke': '23.55',
  '100m backstroke': '51.60',
  '200m backstroke': '1:51.92',
  '50m breaststroke': '25.95',
  '100m breaststroke': '56.88',
  '200m breaststroke': '2:05.48',
  '50m butterfly': '22.27',
  '100m butterfly': '49.45',
  '200m butterfly': '1:50.34',
  '200m individual medley': '1:54.00',
  '400m individual medley': '4:02.50'},
 'LC Women': {'50m freestyle': '23.61',
  '100m freestyle': '51.71',
  '200m freestyle': '1:52.85',
  '400m freestyle': '3:55.38',
  '800m freestyle': '8:04.79',
  '1500m freestyle': '15:20.48',
  '50m backstroke': '26.86',
  '100m backstroke': '57.33',
  '200m backstroke': '2:03.14',
  '50m breaststroke': '29.16',
  '100m breaststroke': '1:04.13',
  '200m breaststroke': '2:17.55',
  '50m butterfly': '24.43',
  '100m butterfly': '55.48',
  '200m butterfly': '2:01.81',
  '200m individual medley': '2:06.12',
  '400m individual medley': '4:25.87'},
 'SC Men': {'50m freestyle': '20.16',
  '100m freestyle': '44.84',
  '200m freestyle': '1:39.37',
  '400m freestyle': '3:32.25',
  '800m freestyle': '7:23.42',
  '1500m freestyle': '14:06.88',
  '50m backstroke': '22.11',
  '100m backstroke': '48.33',
  '200m backstroke': '1:45.63',
  '50m breaststroke': '24.95',
  '100m breaststroke': '55.28',
  '200m breaststroke': '2:00.16',
  '50m butterfly': '21.75',
  '100m butterfly': '47.78',
  '200m butterfly': '1:46.85',
  '100m individual medley': '49.28',
  '200m individual medley': '1:49.63',
  '400m individual medley': '3:54.81'},
 'SC Women': {'50m freestyle': '22.93',
  '100m freestyle': '50.25',
  '200m freestyle': '1:50.31',
  '400m freestyle': '3:51.30',
  '800m freestyle': '7:57.42',
  '1500m freestyle': '15:08.24',
  '50m backstroke': '25.25',
  '100m backstroke': '54.89',
  '200m backstroke': '1:58.94',
  '50m breaststroke': '28.37',
  '100m breaststroke': '1:02.36',
  '200m breaststroke': '2:14.57',
  '50m butterfly': '24.38',
  '100m butterfly': '54.05',
  '200m butterfly': '1:59.61',
  '100m individual medley': '56.51',
  '200m individual medley': '2:01.86',
  '400m individual medley': '4:18.94'}}

In [22]:
import json
with open("records.json") as jf:
    gazpacho_records = json.load(jf)

In [23]:
records == gazpacho_records

True

In [24]:
records["SC Women"]["100m butterfly"]

'54.05'

In [25]:
gazpacho_records["SC Women"]["100m butterfly"]

'54.05'